.character {
    width: 82px;
    height: 58px;
    background: url('./PuppySprite.png') 0px -64px;
    animation: walkdog 1s steps(6) infinite;
}

.flipped {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


@keyframes walkdog {
    100% { background-position: 540px -64px; }
 }